footer {
    background-color: $color-background-footer;
    padding: $padding-bloc 0;
    @include color-txt($color-background-footer);

    h3 {
        padding-left: 40px;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding: $padding-txt;
    }
}

.foot {
    display: flex;
    align-items: center;
    height: 15px;
    position: relative;

    &__txt--ico {
        position: absolute;
        left: 25px;
    }

    &:hover {
        // color: $color-secondary;
        font-weight: bold;
    }
}