@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap");
body {
  max-width: 750px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: currentColor;
}

.description__heading {
  font-weight: 500;
}

h2 {
  font-weight: bold;
  padding: 20px;
}

figcaption {
  font-weight: bold;
}

.fa-heart {
  font-size: 1.5rem;
}

footer h3 {
  font-family: "Shrikhand", cursive;
}

.btn {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(to top left, #9356dc, transparent), linear-gradient(to bottom right, #FF79DA, transparent);
  outline-style: none;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
  transition: 300ms;
}
.btn:active {
  transform: translateY(4px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  transition: all 100ms;
}

header {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
header img {
  width: 200px;
}

footer {
  background-color: #383838;
  padding: 10px 0;
  color: white;
}
footer h3 {
  padding-left: 40px;
}
footer ul {
  list-style-type: none;
}
footer li {
  padding: 5px;
}

.foot {
  display: flex;
  align-items: center;
  height: 15px;
  position: relative;
}
.foot__txt--ico {
  position: absolute;
  left: 25px;
}
.foot:hover {
  font-weight: bold;
}

.description {
  background-color: #F7F7F7;
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
}
.description__heading {
  background-color: #eaeaea;
  padding: 20px;
  margin: -10px;
}
.description__heading i {
  padding: 0 5px;
}
.description__title {
  padding-top: 20px;
}

.operation {
  padding: 10px;
}

.ope {
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  border-radius: 20px;
  margin: 20px;
  padding: 10px 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.ope__num {
  margin-left: -10px;
  background-color: #9356dc;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  font-size: 0.9em;
}
.ope__ico {
  padding: 15px;
  text-align: center;
  color: gray;
}
.ope__txt {
  font-weight: bold;
  position: absolute;
  left: 65px;
}
.ope:hover {
  background-color: #fff3fc;
}
.ope:hover > .ope__ico {
  color: #9356dc;
}

.restaurants {
  background-color: #F7F7F7;
  padding: 20px;
}

.restaurant {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.restaurant__img {
  object-fit: cover;
  object-position: 50% 100%;
  height: 190px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurant figure {
  margin: 0;
}
.restaurant__txt {
  margin: 0 15px;
}
.restaurant figcaption {
  margin-top: 10px;
}
.restaurant p {
  margin-bottom: 10px;
}
.restaurant .fa-heart {
  position: absolute;
  top: 210px;
  right: 15px;
}
.restaurant:hover {
  opacity: 0.8;
  transition: 200ms;
}
.restaurant:active {
  transform: translateY(4px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 100ms;
}

/*# sourceMappingURL=style.css.map */
