.btn {
    margin: $margin-btn;
    padding: $padding-btn;
    box-shadow: $shadow-btn;
    border-radius: $radius-btn;
    border: none;
    color: white;
    font-weight: bold;
    background:
        linear-gradient(to top left, $color-primary, transparent),
        linear-gradient(to bottom right, $color-secondary, transparent);
    outline-style: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
        box-shadow: $shadow-btn-hover;
        transition: all 300ms;
    }

    &:active {
        transform: translateY(4px);
        box-shadow: $shadow-btn-active;
        transition: all 100ms;
    }
}