@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

footer {
    color: white;

    h3 {
        font-family: 'Shrikhand', cursive;
    }
}