.description {
    background-color: $color-background;
    text-align: center;
    padding: $padding-bloc;
    padding-bottom: $padding-bloc+$padding-title;

    &__heading {
        background-color: darken($color-background, 5%);
        padding: 2*$padding-bloc;
        margin: -1*$padding-bloc;

        i {
            padding: 0 $padding-txt;
        }
    }

    &__title {
        padding-top: $padding-title;
    }
}