.menu {
    background-color: $color-background;
    border-radius: $radius-menu-top;
    margin-top: -1*$radius-menu; //Allows to get the .banner__img under the .menu
    padding-bottom: $padding-menu-bottom;
    position: relative; //Allows to put .menu over .banner

    &-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5*$padding-title $padding-title;
        font-size: 1.2rem;
        position: relative;

        &__title {
            font-family: 'Shrikhand', cursive;
            padding-right: $position-heart-right + 15px;
        }

        &__ico {
            @include heart-hover;

            & .fa-heart {
                position: absolute;
                right: $position-heart-right;
                top: 45px;
            }
        }
    }

    &-dish {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin: auto;
        flex-direction: column;

        @media screen and (min-width: $media-list) {
            flex-direction: row;
        }
    }
}



.dish {
    margin-top: -1.5*$margin-bloc;

    @media screen and (min-width: $media-list) {
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                width: 33.33%;
            }
        }
    }

    &__food {
        animation: dish-opening $dur-dish-opening ease-in-out both;

        @for $i from 1 through $nb-dish {
            &--#{$i} {
                animation-delay: $dur-dish-cat-opening / 2 + $delay-dish-opening * $i;
            }
        }
    }


    &-categorie {
        display: flex;
        flex-direction: column;
        animation: dish-cat-opening $dur-dish-cat-opening ease-in-out both;

        &__name {
            text-transform: uppercase;
            font-weight: 100;
            font-size: 1rem;
            margin-bottom: 0;
        }

        &__bar {
            margin-left: 20px;
            margin-top: -15px;
        }
    }


}

.food {
    @include bloc-radius ($color-background-none, $radius-food);
    padding: $padding-bloc;
    margin-right: 1.2*$margin-bloc;
    font-size: 0.9rem;
    cursor: pointer;
    white-space: nowrap; //Prevent the .food__heading and the .food__descrip--txt wrap
    position: relative;

    &__heading {
        margin: $margin-txt 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__descrip {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--txt {
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
        }

        &--price {
            font-weight: bold;
            margin: 0 $margin-price;
        }
    }

    &-hover {
        position: relative;

        &--off {
            @include trans-food-hover(all, $food-timing-close);

        }

        &--on {
            position: absolute;
            background-color: $color-tertiary;
            border-radius: $radius-food-right;
            width: 0;
            height: 100%;
            top: 0;
            right: 0;
            display: flex;
            @include trans-food-hover(all, $food-timing-close);
        }

        &__check {
            margin: auto;
            justify-content: center;
            font-size: 1.5rem;
            opacity: 0;
            color: $color-background;
            @include trans-food-hover(opacity, ease-in);
            // animation: check-hover 1000ms both reverse;
        }
    }

    &:hover {
        & .food-hover {
            &--off {
                padding-right: $padding-bloc + $wdith-food-on * 0.7;
                @include trans-food-hover(all, $food-timing-open);
            }

            &--on {
                width: $wdith-food-on;
                @include trans-food-hover(all, $food-timing-open);
            }

            &__check {
                opacity: 1;
                transform: rotate(360deg);
                @include trans-food-hover(all, ease-out);
                // animation: check-hover 200ms both;
            }
        }

    }

    &:active {
        @include bloc-clic;
    }
}

.validate {
    display: flex;
    justify-content: center;
}