.banner {
    &__img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
}

.menu {
    background-color: $color-background;
    border-radius: $radius-menu-top;
    margin-top: -1*$radius-menu;
    padding-bottom: $padding-menu-bottom;
    position: relative; //Allows to put .menu over .banner
}

.menu-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5*$padding-title $padding-title;
    font-size: 1.2rem;
    position: relative;

    &__title {
        font-family: 'Shrikhand', cursive;
        padding-right: $position-heart-right + 15px;
    }

    &__ico {
        @include heart-hover;

        & .fa-heart {
            position: absolute;
            right: $position-heart-right;
            top: 45px;
        }
    }
}

.dish {
    margin-top: -1.5*$margin-bloc;

    &__food {
        animation: dish-opening $dur-dish-opening ease-in-out both;

        @for $i from 1 through $nb-dish {
            &--#{$i} {
                animation-delay: $delay-dish-opening * $i;
            }
        }
    }


    &-categorie {
        display: flex;
        flex-direction: column;
        animation: dish-cat-opening $dur-dish-cat-opening ease-in-out both;

        &__name {
            text-transform: uppercase;
            font-weight: 100;
            font-size: 1rem;
            margin-bottom: 0;
        }

        &__bar {
            margin-left: 20px;
            margin-top: -15px;
        }
    }


}

.food {
    @include bloc-radius ($color-background-none, $radius-food);
    padding: $padding-bloc;
    font-size: 0.9rem;
    cursor: pointer;

    &__heading {
        margin: $margin-txt 0;
    }

    &__descrip {
        display: flex;
        justify-content: space-between;
        align-items: center;
        white-space: nowrap; //Prevent the .food__descrip--txt wrap

        &--txt {
            min-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
        }

        &--price {
            font-weight: bold;
            margin: 0 $margin-price;
        }
    }
}

.validate {
    display: flex;
    justify-content: center;
}