.restaurants {
    background-color: $color-background;
    padding: 2*$padding-bloc;
}

.restaurant {
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto;
    margin-top: $margin-bloc;
    margin-bottom: $margin-bloc;
    height: auto;
    border-radius: $radius;
    position: relative;

    &__img {
        object-fit: cover;
        object-position: 50% 100%;
        height: 190px;
        width: 100%;
        border-radius: $radius-top;
    }

    &__txt {
        padding: $padding-txt;
        margin: $margin-txt;
    }

    figure {
        margin: 0;
    }

    .fa-heart {
        position: absolute;
        top: 210px;
        right: 15px;
    }
}