// Colors

$color-primary: #9356dc;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F7F7F7;
$color-background-footer: darken($color-background, 75%);
$color-background-none: #ffffff;
$color-ico: gray;

//Width

$wdith-btn: 200px;
$wdith-food-on: 75px;

$max-width-bloc: 350px;

$media-list: 1000px;

// Margin 

$margin-btn: 20px;
$margin-bloc: 20px;
$margin-price: 15px;
$margin-txt: 5px;

// Padding

$padding-btn: 18px;
$padding-bloc: 10px;
$padding-txt: 5px;
$padding-title: 20px;
$padding-menu-bottom: 75px;


// Raduis

$radius-btn: 40px;
$radius-ope: 20px;
$radius-rest: 15px;
$radius-rest-top: $radius-rest $radius-rest 0 0;
$radius-rest-new: 3px;
$radius-menu: 40px;
$radius-menu-top: $radius-menu $radius-menu 0 0;
$radius-food: 15px;
$radius-food-right: 0 $radius-food $radius-food 0;

// Shadow

$shadow-header: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
$shadow-btn: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
$shadow-btn-hover: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
$shadow-btn-active: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
$shadow-bloc: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
$shadow-bloc-active: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

//Position 

$position-heart-right: 45px;

//Transition time

$dur-heart: 300ms;

//Animation time

$dur-loader: 200ms;
$delay-loader: 1500ms;

$dur-dish-cat-opening: 400ms;
$delay-dish-cat-opening: 150ms;

$dur-dish-opening: 400ms;
$nb-dish: 3;
$delay-dish-opening: $dur-dish-opening/$nb-dish;

$dur-food-hover: 300ms;

//Timing 

$food-timing-open: cubic-bezier(0, .6, .8, 1);
$food-timing-close: cubic-bezier(.6, 0, 1, .8);